.header__lang-link {
  text-decoration: none;
  color: currentColor;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.header__lang-link:first-child {
  border-bottom: currentColor 1px solid;
}
