.places {
  padding-left: 0;
  padding-top: 0;
  box-sizing: border-box;
  margin-top: 92px;
  display: grid;
  row-gap: 80px;
}

@media (max-width: 768px) {
  .places {
    row-gap: 97px;
  }
}

@media (max-width: 320px) {
  .places {
    row-gap: 50px;
  }
}
