.intro__list {
  margin-top: 33px;
  margin-bottom: 0;
  max-width: 690px;
  min-height: 90px;
  color: currentColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  list-style-type: none;
  padding-left: 0;
}
