.intro__list {
  margin-top: 33px;
  width: 690px;
  height: 90px;
  color: currentColor;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  list-style-type: none;
  padding-left: 0;
}
