.lead__title {
  align-items: center;
  text-align: center;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: currentColor;
  margin-top: 0;
  margin-bottom: 32px;
}

@media (max-width: 669px) and (min-width: 326px) {
  .lead__title {
    font-size: clamp(40px, 7vw, 96px);
    line-height: clamp(44px, 7vw, 100px);
  }
}

@media (max-width: 768px) and (max-width: 320px) {
  .lead__title {
    font-size: clamp(40px, 7vw, 96px);
    line-height: clamp(44px, 7vw, 100px);
  }
}
