.lead__title {
  padding: 0;
  margin: 0;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
  color: currentColor;
  margin-bottom: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 768px) {
  .lead__title {
    font-size: clamp(40px, 7vw, 96px);
    line-height: clamp(44px, 7vw, 100px);
  }
}
