.lead__image {
  width: 100%;
  margin-bottom: 8px;
  display: block;
  object-fit: cover;
  aspect-ratio: 16/10;
}

@media (max-width: 1024px) {
  .lead__image {
    padding-top: 56px;
  }
}

@media (max-width: 320px) {
  .lead__image {
    padding-top: 40px;
  }
}
