.cover {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1184px;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  /* position: relative; */
  text-align: center;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 1024px) {
  .cover {
    padding-top: 92px;
    max-width: 1024px;
    /* min-height: 640px; */
  }
}

@media (max-width: 768px) {
  .cover {
    padding-top: 90px;
  }
}

@media (max-width: 320px) {
  .cover {
    padding-top: 66px;
  }
}
