.cover {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  padding-top: 92px;
}

@media (max-width: 768px) {
  .cover {
    padding-top: 88px;
  }
}

@media (max-width: 320px) {
  .cover {
    padding-top: 64px;
  }
}
