.cover__title {
  color: currentColor;
  margin-top: 0;
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  z-index: 1;
  max-width: 560px;
}

@media (max-width: 1024px) {
  .cover__title {
    margin-top: 21px;
  }
}

@media (max-width: 768px) {
  .cover__title {
    margin-bottom: 24px;
    font-size: clamp(32px, 9vw, 72px);
    line-height: clamp(35px, 9vw, 76px);
  }
}

@media (max-width: 720px) {
  .cover__title {
    font-size: clamp(32px, 9vw, 72px);
    line-height: clamp(35px, 9vw, 76px);
  }
}

@media (max-width: 480px) {
  .cover__title {
    margin-top: 0;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
    font-size: clamp(32px, 9vw, 72px);
    line-height: clamp(35px, 9vw, 76px);
  }
}
