.cover__title {
  padding: 0;
  color: currentColor;
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 4.75rem;
  z-index: 1;
  max-width: 560px;
  max-height: 152px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@media (max-width: 1024px) {
  .cover__title {
    margin-bottom: 16px;
    font-size: clamp(2rem, 9vw, 4.5rem);
    line-height: clamp(2.9rem, 9vw, 4.75rem);
  }
}

@media (min-width: 480px) {
  .cover__title {
    margin-top: 21px;
  }
}
