.place {
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: 460px 1fr; */
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: clamp (440px, 45vw, 460px) 1fr;
}

@media (max-width: 1024px) {
  .place {
    grid-template-columns: clamp (340px, 45vw, 440px) 1fr;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns: clamp (320px, 45vw, 340px) 1fr;
  }
}

@media (max-width: 720px) {
  .place {
    grid-template-columns: 1fr;
  }
}
