.footer {
  padding-bottom: 24px;
  margin-top: 88px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 720px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
