.footer {
  padding-bottom: 24px;
  margin-top: 88px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 18px;
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
