.intro__title {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  min-height: 58px;
  color: currentColor;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 3.7rem;
}

@media (max-width: 768px) {
  .intro__title {
    padding-top: 110px;
    padding-bottom: auto;
    margin: 0;
  }
}

@media (max-width: 320px) {
  .intro__title {
    padding-top: auto;
    font-size: 32px;
    line-height: 2.2rem;
    min-height: 70px;
  }
}
